
<h5><%= @posts.title %></h5>


<form action="/posts/<%= @posts.id %>/upvote" method="post">
  <button type="submit">Up</button>
</form>

<h5><span style="color: red"><%= @posts.votes.where(upvote: true).count  - @posts.votes.where(upvote: false).count  %></span>  <%= @posts.title %></h5>

<form action="/posts/<%= @posts.id %>/downvote" method="post">
  <button type="submit">Down</button>
</form>



<p><%= @posts.question %></p>

<form action='/posts/<%= @posts.id %>/comments/new'>
<button class="" type="submit">Comment
      <i class="material-icons right"></i>
</button>
</form>




<ul>
 <% @posts.comments.each do |comment| %>
 <li class= "answer"><%= comment.commenter.username %> - <%= comment.body %>
   <% if current_user %>
   <% if is_answer_creator?(comment.id, current_user.id) %>

  <form action='/posts/<%= @posts.id %>/comments/<%= comment.id %>/edit'>
      <button class="" type="submit">Edit
      <i class="material-icons right"></i>
      </button>
    </form>
    <% end %>
    <% end %>

 <% end %>

</ul>

<h3>ANSWERS</h3>

<form action='/posts/<%= @posts.id %>/answers/new'>
<button class="" type="submit">Submit Your Answer
      <i class="material-icons right"></i>
</button>
</form>
<ul>
  <% @posts.answers.each do |answer| %>
    <li class= "answer"><%= answer.answerer.username %> - <%= answer.body %></li>
    <% if current_user %>
    <% if is_answer_creator?(answer.id, current_user.id) %>
        <a href="/posts/<%= @posts.id %>/edit" class="">edit</a>
    <% end %>
    <% end %>


      <span><form action='/answers/<%= answer.id %>/comments/new'>
<button class="" type="submit">Comment On This Answer

      <i class="material-icons right"></i>
    </button>
  </form></span>

  <% end %>
</ul>



<ul class="">

  </li>

  <li class="">
<% if current_user %>
    <form method="post" action="/posts/<%= @posts.id %>" class="">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="delete" class="">
    </form>
 <% end %>
  </li>
</ul>
