
<h5><%= @posts.title %></h5>


<form action="/posts/<%= @posts.id %>/upvote" method="post">
  <button type="submit">Up</button>
</form>



<h5><span style="color: red"><%= @posts.votes.count - @posts.votes.where(upvote: false).count  %></span>  <%= @posts.title %></h5>



<form action="/posts/<%= @posts.id %>/downvote" method="post">
  <button type="submit">Down</button>
</form>



<p><%= @posts.question %></p>

<form action='/posts/<%= @posts.id %>/comments/new' method="post">
<button class="" type="submit">Comment
      <i class="material-icons right"></i>
</button>
</form>

<form action='/posts/<%= @posts.id %>/answers/new' method='post'>
<button class="" type="submit">Answer
      <i class="material-icons right"></i>
</button>
</form>

<h3></h3>
<ul>
  <% @posts.answers.each do |answer| %>

    <li class= "answer"><%= answer.answerer.username %> - <%= answer.body %>
      <span><form action='/answers/<%= answer.id %>/comments/new' method='post'>
<button class="" type="submit">Comment
      <i class="material-icons right"></i>
</button>
</form></span>

  <% end %>
</ul>



<ul class="">
<% if current_user %>
    <a href="/posts/<%= @posts.id %>/edit" class="">edit</a>
<% end %>
  </li>

  <li class="">
<% if current_user %>
    <form method="post" action="/posts/<%= @posts.id %>" class="">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="delete" class="">
    </form>
 <% end %>
  </li>
</ul>
