







<form action="/posts/<%= @posts.id %>/upvote" method="post">
  <button type="submit">Up</button>
</form>



<h5><span style="color: red"><%= @posts.count_votes  %></span>  <%= @posts.title %></h5>



<form action="/posts/<%= @posts.id %>/downvote" method="post">
  <button type="submit">Down</button>
</form>











<p><%= @posts.question %></p>

<h3></h3>
<ul>
  <% @posts.answers.each do |answer| %>
    <li><%= answer.answerer.username %> - <%= answer.body %></li>
  <% end %>
</ul>

<ul class="">
<% if current_user %>
    <a href="/posts/<%= @posts.id %>/edit" class="">edit</a>
<% end %>
  </li>

  <li class="">
<% if current_user %>
    <form method="post" action="/posts/<%= @posts.id %>" class="">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="delete" class="">
    </form>
 <% end %>
  </li>
</ul>
