
<div class="post-container"></div>
<form action="/posts/<%= @posts.id %>/upvote" method="post">
  <button class="button" type="submit"><img src="http://i.imgur.com/nFn8U6a.png" width="20" height="20"></button>
</form>

<h5><span style="color: red"><%= @posts.votes.where(upvote: true).count  - @posts.votes.where(upvote: false).count  %></span>  <%= @posts.title %></h5>
<%= @posts.question %>

<form action="/posts/<%= @posts.id %>/downvote" method="post">
  <button class="button" type="submit"><img src="http://i.imgur.com/16qUuO5.png" width="20" height="20"></button>
</form>

<p>asked by <a href="/users/<%= @posts.creator.id %>"><%= @posts.creator.username %></a></p>

<form action='/posts/<%= @posts.id %>/comments/new'>
<button class="comment-on-post btn waves-effect waves-light orange accent-4 self-margin-button" type="submit">Comment On This Question
      <i class="material-icons right"></i>
</button>
</form>
<div class="comment-form-here"></div>
<ul>
 <% @posts.comments.each do |comment| %>
 <li class= "answer"><a href="/users/<%= comment.commenter.id %>"><%= comment.commenter.username %></a> - <%= comment.body %>
   <% if current_user %>
   <% if is_answer_creator?(comment.id, current_user.id) %>

  <form action='/posts/<%= @posts.id %>/comments/<%= comment.id %>/edit'>
      <button class="" type="submit">Edit
      <i class="material-icons right"></i>
      </button>
    </form>
    <% end %>
    <% end %>

 <% end %>
</li>
</ul>

<h3>ANSWERS</h3>

<form action='/posts/<%= @posts.id %>/answers/new'>
<button class="answer-on-post btn waves-effect waves-light orange accent-4 self-margin-button" type="submit">Submit Your Answer
      <i class="material-icons right"></i>
</button>
</form>
<div class="answer-form-here"></div>

<ul>
  <% @posts.answers.each do |answer| %>
    <li class= "answer"><a href="/users/<%= answer.answerer.id %>"><%= answer.answerer.username %></a> - <%= answer.body %></li>
    <ul>
      <% if answer.comments %>
        <% answer.comments.each do |comment| %>
        <li>----------<a href="/users/<%= comment.commenter.id %>"><%= comment.commenter.username %></a> - <%= comment.body %></li>
        <% end %>
      <% end %>
    </ul>


      <form action='/answers/<%= answer.id %>/comments/new'>
        <button class="comment-on-answer btn waves-effect waves-light orange accent-4 self-margin-button" type="submit">Comment On This Answer<i class="material-icons right"></i></button>
      </form>
      <div class="comment-form-here-2"></div>

  <% end %>

</ul>



<ul class="">

  </li>

  <li class="">
<% if current_user %>
<% if is_post_creator?(@posts.id, current_user.id) %>
    <form method="post" action="/posts/<%= @posts.id %>" class="">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="delete" class="btn waves-effect waves-light orange accent-4 self-margin-button">
    </form>
 <% end %>
 <% end %>
  </li>
</ul>
