<h5><%= @posts.title %></h5>

<p><%= @posts.question %></p>

<h3></h3>
<ul>
  <% @posts.answers.each do |answer| %>
    <li class= "answer"><%= answer.answerer %> - <%= answer.body %></li>
  <% end %>
</ul>

<ul class="">
<% if current_user %>
    <a href="/posts/<%= @posts.id %>/edit" class="">edit</a>
<% end %>
  </li>

  <li class="">
<% if current_user %>
    <form method="post" action="/posts/<%= @posts.id %>" class="">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="delete" class="">
    </form>
 <% end %>
  </li>
</ul>
