<h3>Top Questions </h3> <a href="/posts/new"><h5> Post a new Question </h5></a>
<% @posts.each do |post| %>
  <div>
    <p>
      <span>
        <span style="color: red"><%= post.count_votes  %></span>
        <%= post.count_votes == 1 ? "Vote" : "Votes" %>
      </span>
      <span>
        <span style="color: red"><%= post.count_answers %></span>
        <%= post.count_answers == 1 ? "Answer" : "Answers"%>
      </span>
      <a href="/posts/<%= post.id %>"><%= post.title %></a>
    </p>
  </div>
<% end %>
