<div class="new-question-container"></div>
<div class="home-container">
  
<div class="row">
   <h3 class="col s7">Top Questions </h3><h5><a class="col s5 self-margin-header new-question-button" href="/posts/new">Post a new Question</a></h5>
</div>
<% @posts.each do |post| %>
  <div>
    <p>

        <span style="color: red"><%= post.votes.where(upvote: true).count  - post.votes.where(upvote: false).count  %></span>
        <%= post.count_votes == 1 ? "Vote" : "Votes" %>

        <span style="color: red"><%= post.count_answers %></span>
        <%= post.count_answers == 1 ? "Answer" : "Answers"%>

      <a href="/posts/<%= post.id %>"><%= post.title %></a>
    </p>
  </div>
<% end %>
</div>
