<% @posts.each do |post| %>
  <div>
    <p>

        <span style="color: red"><%= post.count_votes  %></span>
        <%= post.count_votes == 1 ? "Vote" : "Votes" %>

        <span style="color: red"><%= post.count_answers %></span>
        <%= post.count_answers == 1 ? "Answer" : "Answers"%>

      <a href="/posts/<%= post.id %>"><%= post.title %></a>
    </p>
  </div>
<% end %>
