<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <link rel="stylesheet"
  href="http://fonts.googleapis.com/css?family=Lato:100,300,400">



  <title></title>
</head>
<body>
  <!--
    <nav>
      <a href="/">Home</a>
      <% if logged_in? %>
        <a href="/sessions/logout">Logout</a>
        <a href="/users/<%=current_user.id%>"><%= current_user.first_name %></a>
      <% else %>
        <a href= '/sessions/login'> Log In </a>
        <a href= '/users/new'> Register </a>
      <% end %>
    </nav> -->
    <div class="container">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Stacks on StacksOverflow</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if logged_in? %>
            <li><a href="/sessions/logout">Logout</a></li>
            <li><a href="/users/<%=current_user.id%>"><%= current_user.first_name %></a></li>
          <% else %>
            <li><a href="/sessions/login"> Log In </a></li>
            <li><a href="/users/new"> Register </a></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="/js/application.js"></script>
    <%= yield %>
  </div>
</body>
</html>
